.hide-elements .hiddable {
    display: none;
}

.hide-elements .on-hidden {
    display: inherit;
}

.on-hidden {
    display: none;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.trimmers-wrapper > * {
    display: flex;
    width: max-content;
    pointer-events: initial;
    margin: 5px;
    z-index: 1;
    font-family: 'Helvetica Neue', Helvetica, Arial;
}  

.trimmers-wrapper {
    position: absolute;
}

body {
    margin: 0;
    pointer-events: none;

    transition: background-color .6s;
    background-color: black;
}

body.white {
    background-color: white;
}

body > * {
    pointer-events: initial;
}

.history-title {
    background-color: rgb(235, 235, 235);
}

.force-hide {
    display: none !important;
}

.tiny-text {
    font-size: .7em;
}

.no-margin {
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.link-no-color {
    color: inherit;
}

.pointer-no-select {
    cursor: pointer;
    user-select: none;
}

.center-block {
    display: block !important;
    margin: auto;
}

.embedded-preloader {
    height: 250px;
    width: 250px;
    display: inline-grid;
    overflow: hidden;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.preloader-initialisation-message {
    display: block;
    position: relative;
    left: 50%;
    top: 55%;
    width: 300px;
    margin: 0 0 0 -145px;
    text-align: center;
}
.preloader-loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(56, 46, 209);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.preloader-loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(99, 113, 240);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.preloader-loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: rgb(104, 197, 250);
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
