.load-interact-container {
    background: rgba(70, 70, 70, 0.521);
    position: absolute;
    left: 120px;
    bottom: 10px;
    height: 48px;
    border-radius: 5px;
    user-select: none;
}

.load-interact-container i {
    font-size: 48px;
    color: white;
    cursor: pointer;
}