[omega-mitab-card-base] {
    position: absolute !important;
    z-index: 1002;
    right: 15px;
    top: 5vh;
    min-height: 20vh;
    max-height: 90vh;
    max-width: 50vw;
    width: 700px;
    transition: transform ease-in-out .3s;
}

[omega-mitab-card-base].hidden {
    transform: translateX(calc(100% + 16px));
}

[omega-mitab-card-base] .card-body {
    overflow: auto;
}

[omega-mitab-card-base] .custom-list li.list-group-item {
    transition: background-color .2s;
}

[omega-mitab-card-base] .custom-list li.list-group-item:last-child {
    border-bottom-right-radius: 0 !important;
}

[omega-mitab-card-base] .custom-list li.list-group-item:first-child {
    border-top-right-radius: 0 !important;
}

[omega-mitab-card-base] .custom-list > li.pointer-no-select:hover {
    background-color: rgb(230, 230, 230);
}

[omega-mitab-card-base] tr.disabled {
    opacity: .7;
}

[omega-mitab-card-base] .card-history-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
}

[omega-mitab-card-base] .card-history {
    position: absolute;
    max-width: 300px;
    width: 100%;
    max-height: 20vh;
    transition: transform ease-in-out .3s, height ease-in-out .5s;
}

[omega-mitab-card-base] .card-history.open {
    transform: translateX(-100%);
    max-height: none;
}

[omega-mitab-card-base] .card-header {
    background-color: rgb(241, 241, 241);
    z-index: 1002;
}

[omega-mitab-card-base] .card-body {
    background-color: white;
    z-index: 1002;
}

